<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['']" class="brand-link header-bg-color ">
        <span class="brand-text text-color font-weight-light h-100 d-flex align-items-center justify-content-center"><b style="font-weight: bolder;">digital</b>flake</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar" style="height: 100vh;">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">{{user_name | titlecase}}</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->

                <li class="nav-item" [routerLink]="['/home']" routerLinkActive="link-active">
                    <a class="nav-link  ">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-home"></i>

                        <p>
                            Home
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                </li>


                <li class="nav-item" [routerLink]="['/category']" routerLinkActive="link-active">
                    <a class="nav-link  ">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Category
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                </li>

                <li class="nav-item" [routerLink]="['/product']" routerLinkActive="link-active">
                    <a class="nav-link ">
                        <i class="nav-icon fas fa-box"></i>
                        <p>
                            Products
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>