<div class="hold-transition login-page w-100">
    <div class="login-box ">
        

        <div class="card">
            <div class="card-body login-card-body">
                <div class="login-logo">
                    <!-- <a href="../../index2.html"><b>digital</b>flake</a> -->
                    <img src="assets/icons/digitalFlake1.png" alt="" width="200px">
                </div>

                <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordService(changePasswordForm)">


                    <div class="form-group">
                        <label for="addPassword1">New password</label>
                        <input id="addPassword1" type="{{password}}" class="form-control" formControlName="password" placeholder="Enter new password">
                        <ng-container class="col-3" *ngIf="(changePasswordForm.hasError('required',['password'])||changePasswordForm.hasError('pattern',['password'])) && changePasswordForm.controls['password'].touched">
                            <p class="invalid">Invalid Input</p>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="addPassword2">Re-enter new password</label>
                        <input id="addPassword2" type="{{password}}" class="form-control" formControlName="re_enter_password" placeholder="Re-enter new password">
                        <input id="showpass" type="checkbox" [checked]="false" (click)="showPassword($event)" formControlName="showpassword"> <label for="showpass" class="ml-3">Show
                            Password</label>

                        <ng-container class="col-3" *ngIf="(changePasswordForm.hasError('required',['re_enter_password'])||changePasswordForm.hasError('pattern',['re_enter_password'])||changePasswordForm.errors?.['passwordMissmatchError']) && changePasswordForm.controls['re_enter_password'].touched">
                            <p *ngIf="changePasswordForm.hasError('required',['re_enter_password'])" class="invalid">
                                Invalid
                                Input</p>
                            <p *ngIf="changePasswordForm.hasError('pattern',['re_enter_password'])" class="invalid">At
                                least 8
                                characters in length, Lowercase letters, Uppercase letters, Numbers, Special
                                characters</p>
                            <p *ngIf="changePasswordForm.errors?.['passwordMissmatchError']" class="invalid">
                                Password Does
                                not
                                match</p>
                        </ng-container>

                        <div class="w-100 mt-4 ">
                                <button *ngIf="changePasswordForm.valid" type="submit" class="btn btn-primary btn-block bg-btn ">Save Password</button>
                                <button *ngIf="changePasswordForm.invalid" (click)="touched(changePasswordForm)" type="button" class="btn btn-primary btn-block bg-btn">Save Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>